.container{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #878787;
}
.App{
    max-width: 600px;
    margin: auto;
}

.App h1{
    text-align: center;
}

.App footer{
    font-size: 11px;
    margin: 10px 0;
}
